{% extends "userena/base_userena.html" %}
{% load bootstrap i18n %}
{% block title %}Manage {{ package.name }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/ui-lightness/jquery-ui.css" type="text/css" />
    {{ maintainer_formset.media.css }}
{% endblock %}
{% block content_title %}
    <h1>{{ package.name }} {% for r in package.releases.all %}
        <a class="label" href="{% url userpypi-release r.package.owner.username r.package.name r.version %}">{{ r.version }}</a>
    {% endfor %}</h1>
{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
    <li><a href="{% url userpypi-package request.user package.name %}#description">{% trans "Description" %}</a></li>
    <li><a href="{% url userpypi-package request.user package.name %}#info">{% trans "Info" %}</a></li>
    <li><a href="{% url userpypi-package request.user package.name %}#releases">{% trans "All Releases" %}</a></li>
    {% if package.latest.distributions.count %}
        <li><a href="{% url userpypi-package request.user package.name %}#downloads">{% trans "Downloads" %}</a></li>{% endif %}
    {% if package.owner == request.user or request.user in package.maintainers %}
        <li class="active"><a href="{% url userpypi-package-manage request.user package.name %}">{% trans "Manage" %}</a></li>
    {% endif %}
</ul>
<form id="package-mgmt-form" action="" method="post" class="form-horizontal">{% csrf_token %}
{{ form|bootstrap }}
{{ maintainer_formset.management_form }}
<table class="table">
    <thead>
        <tr>
            <th>User</th><th>Permission</th>
        </tr>
    </thead>
    <tbody>
        {% for maintainer in maintainer_formset %}
        <tr class="form-container">
            <td>
                {% if form.instance.pk %}{{ maintainer.DELETE }}{% endif %}
                {{ maintainer.id }}
                {{ maintainer.user }}
            </td>
            <td>
                {{ maintainer.permission }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
</div>

{% endblock %}
{% block extra_body %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript">
    $(function() {
        $('.form-container').formset({
            prefix: '{{ maintainer_formset.prefix }}',
            added: bindSelectables
        });
    })
</script>

{{ maintainer_formset.media.js }}
{% endblock %}