{% extends "email.html" %}
{% block html_body %}
<h1>Welcome to the Package Bin beta!</h1>

<p>Get access by visiting <a href="http://{{ request.get_host }}{% url beta_verify code %}" target="_blank">http://{{ request.get_host }}{% url beta_verify code %}</a>.</p>

<h2>Where to get support</h2>
<ul>
    <li><a href="https://groups.google.com/forum/#!forum/package-bin-discussion">Package Bin discussion group</a></li>
    <li><a href="https://github.com/coordt/pkgbin/issues">Package Bin Issues</a></li>
    <li><a href="mailto:support@pkgbin.com?subject=feedback">Package Bin Support E-Mail (support@pkgbin.com)</a></li>
</ul>
{% endblock %}

