{% extends "site_base.html" %}
{% block body %}
<div class="row">
    <h1 style="text-align: center;">I&rsquo;m sorry&hellip;</h1>
</div>
<div class="row">
    <div class="span4 offset4">
        <img src="{{ STATIC_URL }}img/256px-HAL9000.png" width="256" height="256" alt="HAL 9000">
    </div>
</div>
<div class="row">
    <h2 style="text-align: center;">&hellip;but I can&rsquo;t let you do that.</h2>
</div>
<div class="row">
    <small><cite>image courtesy <a href="http://en.wikipedia.org/wiki/HAL_9000">Wikipedia</a></cite></small>
</div>
{% endblock %}