{% extends "site_base.html" %}
{% block body %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Private Python Package hosting!</h1>
        <p>Want the ease of installing custom python packages without putting it on the Python Package Index?</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
      {% block beta_message %}{% endblock %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Store Proprietary Packages</h2>
           <p>Creating and managing a place to store the packages for your
               project is a hassle. Package Bin keeps your private packages
               private and gives you access to all of 
               <a href="http://pypi.python.org/pypi/">PyPI</a> without any 
               custom tools.
           </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Store Custom Versions of Other Packages</h2>
           <p>Sometimes an open source package would fit your needs if it would
               only do something extra. Package Bin allows you to store your 
               version of the package, without conflicting with the public
               version.
           </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Share Packages with Others</h2>
          <p>Development isn&rsquo;t done in a vacuum. Colleagues will need
              access to your packages too. You can assign them read-only access
              or read and write access so they can upload new releases for you.
          </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
{% endblock %}
