# These are your project's requirements and you should change them
# to meet any customizations you wish to implement

--extra-index-url=http://callowayproject.com/pypi/

-e git+git@github.com:coordt/djangopypi.git#egg=djangopypi-dev
calloway==0.4.2
django
django-admin-tools==0.4.1
django-bootstrap-form==2.0.3
django-guardian==1.0.3
django-tinymce
django-tinymcewrapper
django-userena==1.0.2
easy-thumbnails==1.0-alpha-21
pillow
python-memcached==1.45
