# These are your project's requirements and you should change them
# to meet any customizations you wish to implement

--extra-index-url=http://callowayproject.com/pypi/

Django==1.4
Pillow==1.7.6
calloway==0.4.2
celery==2.5.1
docutils==0.7
django-admin-tools==0.4.1
django-bootstrap-form==2.0.3
django-celery==2.5.1
django-cumulus==1.0.5
django-guardian==1.0.4
django-hunger==1.0.6
django-queued-storage==0.5
django-robots==0.8.1
django-selectable==0.4.1
django-selectablewrapper==0.1
django-tastypie==0.9.11
django-templated-email==0.4.4
django-tinymce==1.5.1b2
django-tinymcewrapper==0.3
django-userena==1.0.3
easy-thumbnails==1.0-alpha-21
psycopg2
python-memcached==1.45
redis==2.4.11
userpypi==0.5.4
uuid==1.30