{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{{ release }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rstbody.css" type="text/css" media="screen">
    <link rel="meta" title="DOAP" type="application/rdf+xml" href="{% url userpypi-release-doap username=username package=release.package.name version=release.version %}"/> 
{% endblock %}
{% block body %}
    <h1>{{ release.package.name }}
        {% for r in release.package.releases.all %}
<a class="label{% if r.version == release.version %} label-info{% endif %}" href="{% url userpypi-release username r.package.name r.version %}">{{ r.version }}</a>
        {% endfor %}
    </h1>
    {% ifnotequal release release.package.latest %}
    <div>Latest: <a href="{% url userpypi-release username=username package=release.package.name version=release.package.latest %}">{{ release.package.latest }}</a></div>
    {% endifnotequal %}
    <ul class="nav nav-tabs">
      <li class="active"><a href="#description" data-toggle="tab">{% trans "Description" %}</a></li>
      <li><a href="#info" data-toggle="tab">{% trans "Info" %}</a></li>
      <li><a href="#releases" data-toggle="tab">{% trans "All Releases" %}</a></li>
      {% if release.distributions.count %}<li><a href="#downloads" data-toggle="tab">{% trans "Downloads" %}</a></li>{% endif %}
    </ul>
    <div class="tab-content">
        <article class="rst-body tab-pane active" id="description">
            {% load safemarkup %}
            {{ release.description|saferst }}
        </article>
        <article class="tab-pane" id="info">
            {% include "djangopypi/includes/packageinfo.html" %}
        </article>
        <article class="tab-pane" id="releases">
            {% include "djangopypi/includes/releaseinfo.html" with package=release.package%}
        </article>
        {% if release.distributions.count %}
            <article class="tab-pane" id="downloads">
                <ul>
                {% for dist in release.distributions.all %}
                    <li><a href="{{ dist.get_absolute_url }}">{{ dist }}</a> ({{ dist.content.size|filesizeformat }})</li>
                {% endfor %}
                </ul>
            </article>
        {% endif %}
    </div>
{% endblock %}
{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
{% endblock %}