{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% trans "Sign Up" %}

{% block body %}
<div class="row">
    <div class="span6 offset3">
        <div class="page-header">
            <h1>{% trans "Confirm Your Email" %}</h1>
        </div>
        <p>{% trans "Thank you for signing up with us!" %}</p>

        {% if userena_activation_required %}
        <p>{% blocktrans %}You have been send an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
        <p>{% blocktrans %}We will store your signup information for {% endblocktrans %}
            {{ userena_activation_days }} 
            {% blocktrans %}days on our server.{% endblocktrans %}</p>
        {% else  %}
        <p>{% blocktrans %}You can now use the supplied credentials to sign in.{% endblocktrans %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
